:root {
  --primary: #732c7c;
  --secondary: #888888;
}

body {
  -webkit-print-color-adjust:exact !important;
  print-color-adjust:exact !important;
  background: rgb(204,204,204); 
  width: 21cm;
  height: 29.7cm;
  margin: 0 auto;
}


/* Printing */
page {
  background: white;
  display: block;
  margin: 0 auto;
  margin-bottom: 0.5cm;
}

page[size="A4"] {  
  width: 21cm;
  height: 29.7cm; 
}

@page {
   size: 21cm 29.7cm;
   padding: 0;
   margin: 0mm;
   border: none;
   border-collapse: collapse;
}
/* End Printing */

/* Layout */

.container {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  font-family: "Montserrat", sans-serif;
}

.topPanel {
  background-color: #e9e6ea;
  height: fit-content;
  width: 100%;
  display: flex;
  flex-direction: row;
  .name {
    font-size: 32px;
    font-weight: 700;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
  
    width: 45%;
    padding: 10px 30px;
  
    display: flex;
    flex-direction: column;
    
    .first {
      color: var(--primary);
    }
    
    .last {
      color: var(--secondary);
    }
    
    .jobTitle {
      font-size: 18px;
      font-weight: 600;
      letter-spacing: 0.1rem;
      margin-bottom: 4px;
    }
  
    > hr {
      width: 100%;
      color: var(--primary);
      background-color: var(--primary);
      border: none;
      height: 1px;
      margin: 0;
      margin-bottom: 10px;
    }
  }
  
  .contactInfo {
    display: flex;
    flex-direction: column;
    gap: 4px;
    justify-content: center;
  
    font-size: 12px;
    font-weight: 600;
  
    padding: 10px 0px;
  
    i {
      margin-right: 6px;
    }
  
    a {
      text-decoration: none;
      color: black;
    }
  
    a:visited { text-decoration: none; }
    a:hover { text-decoration: none; }
    a:focus { text-decoration: none; }
    a:hover, a:active { text-decoration: none; }
  
    > .row {
      display: flex;
      flex-direction: row;
      gap: 20px;
    }
  
    > .email, > .phoneNumber {
      grid-row-start: 1;
    }
  
    > .linkedin, > .github {
      grid-row-start: 3;
    }
  }
}

.bottomPanel {

}
/*End Layout*/

