.employment {
  h2 {
    font-size: 18px;
    font-weight: 600;
  }

  h3 {
    color: var(--secondary);
    font-weight: 600;
    font-size: 16px;
  }

  ul {
    li {
      margin-bottom: 4px;
      font-size: 11px;
      margin-left: 15px;
    }
  }
}
