:root {
  --primary: #732c7c;
  --secondary: #888888;
  --bg: #e9e6ea;
}

body {
  -webkit-print-color-adjust: exact !important;
  print-color-adjust: exact !important;
  background: rgb(204, 204, 204);
  width: 21cm;
  height: 29.7cm;
  margin: 0 auto;
  color: black;
}

h1,
h2,
h3 {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ul,
ul li,
ul ul li {
  margin: 0;
  padding: 0;
  text-indent: 0;
}

.page {
  background: white;
  box-shadow: 0 0 0.5cm rgba(0, 0, 0, 0.5);

  width: 21cm;
  height: 29.7cm;

  margin: 0 auto;
  margin-bottom: 0.5cm;

  display: flex;
  flex-direction: column;
  font-family: "Montserrat", sans-serif;
}

/* Printing */

/* @page {
  size: 21cm 29.7cm;
  padding: 0;
  margin: 0mm;
  border: none;
  border-collapse: collapse;
} */
/* End Printing */

/* Layout */

.topPanel {
  background-color: #e9e6ea;
  height: fit-content;
  height: fit-content;
  display: flex;
  flex-direction: row;
  margin-bottom: 0;
  padding: 10px 30px;
  gap: 40px;
}

.bottomPanel {
  display: flex;
  flex-direction: column;
  padding: 20px 15px;
  gap: 20px;

  .section {
    > h1 {
      background-color: var(--bg);
      display: block;
      flex-grow: 1;
      padding: 4px 15px;

      text-transform: uppercase;
      color: var(--primary);
      font-weight: 700;
      font-size: 16px;
    }

    > .content {
      padding: 8px 15px;
      display: flex;
      flex-direction: column;
      gap: 2px;
    }
    
    &.skills {
      > .content {
        gap: 4px;
      }

      .skill {
        font-size: 11px;

        .name {
          font-weight: 700;
        }
      }
    }

    &.education {
      h2 {
        font-size: 14px;
        font-weight: 600;
        display: block;
      }

      h3 {
        font-size: 12px;
        font-weight: 500;
        display: block;
      }
    }
  }

  .row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    > .extraInfo {
      font-size: 11px;
      font-weight: 600;
    }
  }
}
/*End Layout*/
